body {
  text-align: center;
  margin: auto;
  font-family: Tahoma, Geneva, sans-serif;
}

h1 {
  color: Blue;
}

h3 {
  color: Orange;
}

ul li {
list-style-type: none;
}

.column {
  margin:0 auto;
  width:33.33%;
  float: left;
  padding:2px;
  text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.one {
  background-color: blue;
}

.three {
  background: pink;
}
