body {
  text-align: center;
  margin: auto;
  font-family: Tahoma, Geneva, sans-serif;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

h1 {
  color: Blue;
  text-transform: uppercase;

}

h3 {
  color: Orange;
}

ul li {
list-style-type: none;
}

img {
  border: 1px solid black;
  border-radius: 300px;
}

.column {
  margin:0 auto;
  width:33.33%;
  float: left;
  padding:2px;
  text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.one {
  background-color: blue;
}

.three {
  background: pink;
}
